[submodule "poc-portal-backend"]
	path = backend
	url = git@code.electrolab.fr:fabrice/poc-portal-backend.git
[submodule "poc-portal-frontend"]
	path = frontend
	url = git@code.electrolab.fr:fabrice/poc-portal-frontend.git
[submodule "poc-portal-checkout-frontend"]
	path = checkout-frontend
	url = git@code.electrolab.fr:fabrice/poc-portal-checkout-frontend.git
