# -*- mode: Conf; -*-

####################################################################################################

*~
__pycache__
du.log

####################################################################################################

backend/app/app.egg-info/
backend/app/env/
backend/app/poetry.lock
backend/env/

basic-checkout-frontend/build/
basic-checkout-frontend/node_modules/
basic-checkout-frontend/package-lock.json
basic-checkout-frontend/yarn.lock

####################################################################################################
#
# Never commit !
#
####################################################################################################

backend/app/PASSWORD.txt
backend/app/dev.env
backend/app/secret_env.sh
recapatcha-account.txt

####################################################################################################
#
# NOT YED COMMITED !!!
#
#####################################################################################################

backend/app/alembic/versions/

backend/app/app/tests/
backend/app/app/tests_pre_start.py
# doc/
.travis.yml

####################################################################################################

no-git

backend/app/alembic.ini.diff
backend/app/alembic/env.py.diff

backend/app/test-recaptcha.py
portal-frontend/doc/

rsync-log.txt
rsync-vps.sh

__FIXME__.md