# -*- mode: Conf; -*-

####################################################################################################

*~
du.log

####################################################################################################

backend/app/app.egg-info/
backend/app/env/
backend/app/poetry.lock
backend/env/

basic-checkout-frontend/build/
basic-checkout-frontend/node_modules/
basic-checkout-frontend/package-lock.json
basic-checkout-frontend/yarn.lock

####################################################################################################
#
# Never commit !
#
####################################################################################################

recapatcha-account.txt

####################################################################################################

no-git

rsync-log.txt
rsync-vps.sh

tmp.foo

__FIXME__.md